<!DOCTYPE html>
<html>
<head>
    <title>Binary Search</title>
    <script src='lib/public/jquery/dist/jquery.min.js'></script>
    <script src='lib/public/bootstrap/dist/bootstrap.bundle.min.js'></script>

    <link rel='stylesheet' type='text/css' href='lib/public/bootstrap/dist/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='dist/css/index.css'>

    <script type="module"  src='dist/app.js'></script>

    <style>
    </style>


</head>
<body>

    <div class="container">

        <h1 id="logo">Application</h1>

        <form>
          <label for="initArray">Array:</label><br>
          <input type="text" id="initArray" name="initArray" value="[-5,2,4,6,10]">
      </form>
      <br>
          <button id='submit' type="button" class="btn btn-primary">Submit</button>
      <br><br>

        <div class="row">
          <div class="col">
            
                <div>
                  <canvas id="graph-canvas" width="" height="" style="border:3px solid grey"></canvas>
                </div>
                <div>
                  <button id='next' type="button" class="btn btn-primary">Next</button>
                </div>
          </div>
        </div>


    </div>
    <br><br><br>

    <div class="alert alert-success">
      <strong>Application Message</strong> <p id="message"></p>
  </div>
    
</body>
</html>
